p.example:before {
  content: "before content - ";
  font-weight: bold;
}
p.example:after {
  content: " - after content";
  font-weight: bold;
}
.quote {
  border-radius: 10px;
  position: relative;
  padding: 20px;
  background-color: red;
  color: white;
  float: left;
}
.quote:before {
  content: "";
}
.quote:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 20px solid blue;
  border-color: red transparent transparent transparent;
  bottom: -39px;
  left: 20px;
}
p [data-tooltip="true"] {
  border-bottom: 1px solid;
  text-decoration: none;
  line-height: 1;
  display: inline;
  z-index: 0;
}
p [data-tooltip="true"]:hover {
  position: relative;
}
p [data-tooltip="true"]:hover:before {
  content: attr(title);
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #c7573a;
  color: white;
  max-width: 10em;
  min-width: 5em;
  font-style: normal;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
}
p [data-tooltip="true"]:hover:after {
  content: "";
  position: absolute;
  top: 1.1rem;
  border: 15px solid;
  position: absolute;
  left: 20px;
  border-color: transparent transparent #c7573a;
}
